development:
  clients:
    default:
      database: Tradeup
      hosts:
        - localhost:27017
      options:
        server_selection_timeout: 1

production:
  clients:
    default:
      uri: "<%= ENV['DATABASE_URL'] %>"
      database: Tradeup
